[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
delegator-py = "*"
pytest = "*"
pytest-watch = "*"
twine = "*"
wheel = "*"
black = "*"

[packages]
story = {editable = true,path = "."}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
